
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1;IE=EmulateIE11" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-icon" href="/assets/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/favicon.png" />

    <link type="image/png" rel="icon" href="/assets/img/favicon.png"><meta name="viewport" content="width=850, user-scalable=no, minimal-ui">

    <title>Desygner</title>


    <link rel="stylesheet" type="text/css" href="/assets/build/inkive.min.css?2d063f1" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:200,300,400&subset=latin-ext,cyrillic" />

    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Abril Fatface:400|Alegreya SC:400,400italic,700,700italic,900,900italic|Alfa Slab One:400|Alike:400|Allerta Stencil:400|Allura:400|Amaranth:400,400italic,700,700italic|Antic:400|Anton:400|Architects Daughter:400|Archivo Narrow:400,400italic,700,700italic|Arimo:400,400italic,700,700italic|Arvo:400,400italic,700,700italic|Autour One:400|Belleza:400|Berkshire Swash:400|Bigelow Rules:400|Black Ops One:400|Butcherman:400|Cabin Sketch:400,700&subset=latin-ext,cyrillic'><link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Cantata One:400|Cantora One:400|Carter One:400|Chelsea Market:400|Cherry Swash:400,700|Chewy:400|Cinzel:400,700,900|Clicker Script:400|Coda Caption:800|Codystar:300,400|Coming Soon:400|Courgette:400|Coustard:400,900|Crafty Girls:400|Creepster:400|Crushed:400|Dancing Script:400,700|Devonshire:400|Diplomata SC:400|Dr Sugiyama:400&subset=latin-ext,cyrillic'><link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Droid Serif:400,400italic,700,700italic|Economica:400,400italic,700,700italic|Emilys Candy:400|Engagement:400|Euphoria Script:400|Fenix:400|Flamenco:300,400|Fondamento:400,400italic|Freckle Face:400|Fredoka One:400|Frijole:400|Germania One:400|Glass Antiqua:400|Glegoo:400,700|Gochi Hand:400|Graduate:400|Grand Hotel:400|Great Vibes:400|Gruppo:400|Gudea:400,400italic,700&subset=latin-ext,cyrillic'><link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Hammersmith One:400|IM Fell English SC:400|Joti One:400|Julius Sans One:400|Kite One:400|Knewave:400|Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic|Lemon:400|Libre Baskerville:400,400italic,700|Lilita One:400|Lily Script One:400|Limelight:400|Lobster:400|Londrina Outline:400|Londrina Shadow:400|Londrina Sketch:400|Lora:400,400italic,700,700italic|Love Ya Like A Sister:400|Lustria:400|Megrim:400&subset=latin-ext,cyrillic'><link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Miltonian Tattoo:400|Mr Dafoe:400|Mystery Quest:400|Niconne:400|Nixie One:400|Nunito:300,400,700|Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic|Oregano:400,400italic|Over the Rainbow:400|PT Sans:400,400italic,700,700italic|PT Serif:400,400italic,700,700italic|Pacifico:400|Parisienne:400|Permanent Marker:400|Pinyon Script:400|Playfair Display SC:400,400italic,700,700italic,900,900italic|Prata:400|Princess Sofia:400|Prosto One:400|Quando:400&subset=latin-ext,cyrillic'><link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Quattrocento:400,700|Qwigley:400|Racing Sans One:400|Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Ribeye:400|Ribeye Marrow:400|Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|Roboto Condensed:300,300italic,400,400italic,700,700italic|Rock Salt:400|Rokkitt:400,700|Rosario:400,400italic,700,700italic|Rum Raisin:400|Ruthie:400|Rye:400|Sacramento:400|Sanchez:400,400italic|Satisfy:400|Schoolbell:400|Shadows Into Light:400|Share Tech:400&subset=latin-ext,cyrillic'><link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Share Tech Mono:400|Six Caps:400|Sniglet:400,800|Special Elite:400|Stalemate:400|Stint Ultra Expanded:400|Stoke:300,400|Tangerine:400,700|Text Me One:400|The Girl Next Door:400|Trocchi:400|Trykker:400|Ultra:400|UnifrakturMaguntia:400|VT323:400|Vampiro One:400|Vast Shadow:400|Vidaloka:400|Volkhov:400,400italic,700,700italic|Yellowtail:400&subset=latin-ext,cyrillic'>
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/earlyaccess/cwtexfangsong.css' />
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/earlyaccess/cwtexhei.css' />
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/earlyaccess/cwtexkai.css' />
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/earlyaccess/cwtexming.css' />
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/earlyaccess/cwtexyen.css' />

    <script>

        if (typeof console == "undefined" || typeof console.log == "undefined") var console = { log: function() {} };

        // Main object
        var INKIVE = {

            page:         1,
            width:        737,
            height:       521,

            servertime:   1470318326,
            buildtime:    0

        };

        // browserify support
        if ( typeof module === 'object' )
        {
            module.exports = INKIVE;
        }

        INKIVE.C = {

            FONT_LIST: {
                "Abril Fatface": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Alegreya SC": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic", "900", "900italic"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Alfa Slab One": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Alike": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Allerta Stencil": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Allura": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin-ext", "latin"]},
                "Amaranth": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin"]
                },
                "Antic": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Anton": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin-ext", "latin"]},
                "Architects Daughter": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Archivo Narrow": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Arimo": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["hebrew", "greek-ext", "latin-ext", "vietnamese", "cyrillic", "cyrillic-ext", "latin", "greek"]
                },
                "Arvo": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin"]
                },
                "Autour One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Belleza": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Berkshire Swash": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Bigelow Rules": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Black Ops One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Butcherman": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Cabin Sketch": {"i": false, "b": true, "bi": false, "variants": ["400", "700"], "subsets": ["latin"]},
                "Cantata One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Cantora One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Carter One": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Chelsea Market": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Cherry Swash": {
                    "i": false,
                    "b": true,
                    "bi": false,
                    "variants": ["400", "700"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Chewy": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Cinzel": {"i": false, "b": true, "bi": false, "variants": ["400", "700", "900"], "subsets": ["latin"]},
                "Clicker Script": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Coda Caption": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["800"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Codystar": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["300", "400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Coming Soon": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Courgette": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Coustard": {"i": false, "b": false, "bi": false, "variants": ["400", "900"], "subsets": ["latin"]},
                "Crafty Girls": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Creepster": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Crushed": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Dancing Script": {
                    "i": false,
                    "b": true,
                    "bi": false,
                    "variants": ["400", "700"],
                    "subsets": ["latin"]
                },
                "Devonshire": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Diplomata SC": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Dr Sugiyama": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Droid Serif": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin"]
                },
                "Economica": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Emilys Candy": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Engagement": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Euphoria Script": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Fenix": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin-ext", "latin"]},
                "Flamenco": {"i": false, "b": false, "bi": false, "variants": ["300", "400"], "subsets": ["latin"]},
                "Fondamento": {
                    "i": true,
                    "b": false,
                    "bi": false,
                    "variants": ["400", "400italic"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Freckle Face": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Fredoka One": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Frijole": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Germania One": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Glass Antiqua": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Glegoo": {
                    "i": false,
                    "b": true,
                    "bi": false,
                    "variants": ["400", "700"],
                    "subsets": ["latin-ext", "devanagari", "latin"]
                },
                "Gochi Hand": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Graduate": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Grand Hotel": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Great Vibes": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Gruppo": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin-ext", "latin"]},
                "Gudea": {
                    "i": true,
                    "b": true,
                    "bi": false,
                    "variants": ["400", "400italic", "700"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Hammersmith One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "IM Fell English SC": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Joti One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Julius Sans One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Kite One": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Knewave": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Lato": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["100", "100italic", "300", "300italic", "400", "400italic", "700", "700italic", "900", "900italic"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Lemon": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Libre Baskerville": {
                    "i": true,
                    "b": true,
                    "bi": false,
                    "variants": ["400", "400italic", "700"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Lilita One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Lily Script One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Limelight": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Lobster": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "vietnamese", "cyrillic", "latin"]
                },
                "Londrina Outline": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Londrina Shadow": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Londrina Sketch": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Lora": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin-ext", "cyrillic", "latin"]
                },
                "Love Ya Like A Sister": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin"]
                },
                "Lustria": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Megrim": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Miltonian Tattoo": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Mr Dafoe": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Mystery Quest": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Niconne": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Nixie One": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Nunito": {"i": false, "b": true, "bi": false, "variants": ["300", "400", "700"], "subsets": ["latin"]},
                "Open Sans": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["300", "300italic", "400", "400italic", "600", "600italic", "700", "700italic", "800", "800italic"],
                    "subsets": ["greek-ext", "latin-ext", "vietnamese", "cyrillic", "cyrillic-ext", "latin", "greek"]
                },
                "Oregano": {
                    "i": true,
                    "b": false,
                    "bi": false,
                    "variants": ["400", "400italic"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Over the Rainbow": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "PT Sans": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin-ext", "cyrillic", "cyrillic-ext", "latin"]
                },
                "PT Serif": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin-ext", "cyrillic", "cyrillic-ext", "latin"]
                },
                "Pacifico": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Parisienne": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Permanent Marker": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Pinyon Script": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Playfair Display SC": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic", "900", "900italic"],
                    "subsets": ["latin-ext", "cyrillic", "latin"]
                },
                "Prata": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Princess Sofia": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Prosto One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "cyrillic", "latin"]
                },
                "Quando": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin-ext", "latin"]},
                "Quattrocento": {
                    "i": false,
                    "b": true,
                    "bi": false,
                    "variants": ["400", "700"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Qwigley": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Racing Sans One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Raleway": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["100", "100italic", "200", "200italic", "300", "300italic", "400", "400italic", "500", "500italic", "600", "600italic", "700", "700italic", "800", "800italic", "900", "900italic"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Ribeye": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin-ext", "latin"]},
                "Ribeye Marrow": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Roboto": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["100", "100italic", "300", "300italic", "400", "400italic", "500", "500italic", "700", "700italic", "900", "900italic"],
                    "subsets": ["greek-ext", "latin-ext", "vietnamese", "cyrillic", "cyrillic-ext", "latin", "greek"]
                },
                "Roboto Condensed": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["300", "300italic", "400", "400italic", "700", "700italic"],
                    "subsets": ["greek-ext", "latin-ext", "vietnamese", "cyrillic", "cyrillic-ext", "latin", "greek"]
                },
                "Rock Salt": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Rokkitt": {"i": false, "b": true, "bi": false, "variants": ["400", "700"], "subsets": ["latin"]},
                "Rosario": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin"]
                },
                "Rum Raisin": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Ruthie": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin-ext", "latin"]},
                "Rye": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin-ext", "latin"]},
                "Sacramento": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Sanchez": {
                    "i": true,
                    "b": false,
                    "bi": false,
                    "variants": ["400", "400italic"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Satisfy": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Schoolbell": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Shadows Into Light": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Share Tech": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Share Tech Mono": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Six Caps": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Sniglet": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400", "800"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Special Elite": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Stalemate": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Stint Ultra Expanded": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Stoke": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["300", "400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Tangerine": {"i": false, "b": true, "bi": false, "variants": ["400", "700"], "subsets": ["latin"]},
                "Text Me One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "The Girl Next Door": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Trocchi": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Trykker": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Ultra": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "UnifrakturMaguntia": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "VT323": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Vampiro One": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["latin-ext", "latin"]
                },
                "Vast Shadow": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Vidaloka": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "Volkhov": {
                    "i": true,
                    "b": true,
                    "bi": true,
                    "variants": ["400", "400italic", "700", "700italic"],
                    "subsets": ["latin"]
                },
                "Yellowtail": {"i": false, "b": false, "bi": false, "variants": ["400"], "subsets": ["latin"]},
                "cwTeXFangSong": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["chinese"],
                    "locale": "zh",
                    "earlyaccess": "cwtexfangsong"
                },
                "cwTeXHei": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["chinese"],
                    "locale": "zh",
                    "earlyaccess": "cwtexhei"
                },
                "cwTeXKai": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["chinese"],
                    "locale": "zh",
                    "earlyaccess": "cwtexkai"
                },
                "cwTeXMing": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["chinese"],
                    "locale": "zh",
                    "earlyaccess": "cwtexming"
                },
                "cwTeXYen": {
                    "i": false,
                    "b": false,
                    "bi": false,
                    "variants": ["400"],
                    "subsets": ["chinese"],
                    "locale": "zh",
                    "earlyaccess": "cwtexyen"
                }
            },
            BUILD: '2d063f1',
            BUCKET: 'virginia.inkive.com',
            COVER: 'https://s3.amazonaws.com/virginia.inkive.com/virginia/344/NCUnShSRVpO/af69d67cf820a06e18f49f0e7fcfca55.jpg',
            BLANK_SVG: 'PHN2ZyB3aWR0aD0iNzM3IiBoZWlnaHQ9IjUyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgY2xhc3M9ImJhY2tncm91bmQiPjx0aXRsZT5CYWNrZ3JvdW5kPC90aXRsZT48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNzM3IiBoZWlnaHQ9IjUyMSIgaWQ9InN2Z18xIiBmaWxsPSIjZmZmZmZmIj48L3JlY3Q+PC9nPjxnIGNsYXNzPSJtYWluIj48dGl0bGU+TWFpbjwvdGl0bGU+PC9nPjwvc3ZnPg==',

            DESYGNER_BUSINESS: 'https://business.desygner.com/',
            BASE_URL: '/',
            STATIC_URL: 'http://static.inkive.com/',

            UPLOAD_KEY: 'AKIAIVACH6FJDZWZ5LYA',
            REGION_SERVER: 'virginia.inkive.com',

            IS_DEV: false,
            IS_AUTO_SAVE: true,
            IS_MOBILE: false,
            IS_MOBILE_APP: false,

            MODE: {
                IS_DEFAULT: false,
                IS_DESYGNER: true,
                IS_PHOTOBOOKY: false,
                IS_INKIVE: false
            },

            USER: {
                id: '1308899473077831496',
                nickname: 'bGV2ZW4wMDgg',
                email: 'bGV2ZW5ANzFhbi5jb20='
            },

            BOOK:{{{json book}}}

        }


        var BASE_URL = INKIVE.C.BASE_URL;

    </script>

    <script type="text/javascript" src="/assets/build/inkive.js?2d063f1"></script>
    <script type="text/javascript" src="/assets/build/editor.js?3333"></script>

    <script type="text/javascript" src="/assets/js/util/masonry.pkgd.3.1.5.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-plugins/jquery.fontSpy.js"></script>

    <script>
        var message = 'Hey, focus on your design!';
        var original = document.title;

        $(window)
                .focus(function() { document.title = original })
                .blur(function() { document.title = message });
    </script>

</head>
<body>

<aside id="header">
    <ul class="left-menu tool-panel">
        <li class="logo-icon"><img src="/assets/img/favicon.png"></li>        <li class="full-size"><input class="name editor-header-title" id="ik-project-name-header" name="name" title="点击此处重命名你的项目" /></li>
    </ul>
    <ul class="right-menu">
        <li>
            <a class="btn save" title="存档" data-charlimit="10"><i class="icon-save"></i>存档</a>
            <div class="save-notification"><div class="spinnerWrapper" style="top: 3px; display: inline;"><div class="spinner small"><circle class="path"></circle></div></div><span style="display: inline; padding-left: 5px;">保存中,,,</span></div>
        </li>
        <li>
            <span class="btn-double undo-redo">
                <a class="btn disabled action" data-action="on_undo" data-popover="tooltip" data-original-title="上一步"><i class="icon-reply"></i></a>
                <a class="btn disabled action" data-action="on_redo" data-popover="tooltip" data-original-title="下一步"><i class="icon-forward"></i></a>
            </span>
        </li>
        <li>
            <span id="shr-buttons" class="btn-double green">
                <a class="btn ui-dropdown-button download" data-id="download" title="下载" data-charlimit="10"><i class="icon-cloud-download"></i>下载</a>
<div class="btn" id="ik-download-notification"><div class="spinnerWrapper" style="display: inline;"><div class="spinner small"><circle class="path"></circle></div></div><span style="display: inline; padding-left: 5px; vertical-align: text-top;" title="请稍等" data-charlimit="10">请稍等</span></div>
                <a class="btn ui-dropdown-button shr" data-id="share" title="分享" data-charlimit="10"><i class="icon-export"></i>分享</a>
                <a class="btn ui-dropdown-button print" data-charlimit="10"><i class="fa fa-print"></i>Print</a>
            </span>
        </li>
        <li>
            <a class="btn black close" title="退出" data-charlimit="10">退出<i class="icon-remove"></i></a>
        </li>
    </ul>

    <div class="ui-dropdown-content" data-id="download">
        <div class="tabs">
            <ul>
                <li><a href="#tabs-1"><i class="icon-jpg"></i><span>Get JPEG</span></a></li>
                <li><a href="#tabs-2"><i class="icon-png"></i><span>Get PNG</span></a></li>
                <li><a href="#tabs-3"><i class="icon-pdf"></i><span>Get PDF</span></a></li>
            </ul>
            <div id="tabs-1" data-type="jpeg">
                <h3>完美的网页和图像</h3>
                <section id="quality-section">
                    <span>改变存储画质</span>

                    <div style="height: 40px; padding: 5px 30px;"><div class="quality-slider"></div></div>
                    <span style="display: block; float:left; margin-top: -30px;">低</span>
                    <span style="display: block; float:right; margin-top: -30px;">高</span>

                </section>

                <div class="expand-panel">
                    <a class="expand-button"><span>还包括</span><i class="icon-chevron-right"></i></a>
                    <div class="expand-content">
                        <div class="checkbox"><input type="checkbox" name="isThumb" value="1"/>
                            <label for="isThumb" style="width: 90px;">缩略图</label>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled thumbDimensions" data-type="width" placeholder="宽度"/><span>X</span>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled thumbDimensions" data-type="height" placeholder="高度"/><span>px</span>
                        </div>

                        <div class="checkbox"><input type="checkbox" name="isWeb" value="1"/>
                            <label for="isWeb" style="width: 90px;">网站</label>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled webDimensions" data-type="width" placeholder="宽度"/><span>X</span>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled webDimensions" data-type="height" placeholder="高度"/><span>px</span>
                        </div>

                        <div class="checkbox"><input type="checkbox" name="isMobile" value="1"/>
                            <label for="isMobile" style="width: 90px;">手机</label>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled mobileDimensions" data-type="width" placeholder="宽度"/><span>X</span>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled mobileDimensions" data-type="height" placeholder="高度"/><span>px</span>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" name="isZip" value="1"/>
                            <label for="isZip">下载为ZIP文件</label>
                        </div>
                    </div>
                </div>
                <div class="expand-panel">
                    <a class="expand-button"><span>发布设置</span><i class="icon-chevron-right"></i></a>
                    <div class="expand-content">
                        <div class="checkbox">
                            <input type="checkbox" name="isBleed" value="1"/>
                            <label for="isBleed">出线发布</label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" name="isZip" value="1"/>
                            <label for="isZip">下载为ZIP文件</label>
                        </div>
                    </div>
                </div>

                <div class="buttons column">
                    <a href="#" role="custom" class="btn btn-yellow action" data-action="downloadnew" data-type="jpeg">开始下载</a>
                </div>
                <div class="estimated-size" style="text-align: right;">
                    <span>预计的文件大小是</span> <b><span class="value"></span></b>
                </div>
            </div>

            <div id="tabs-2" data-type="png">
                <h3>完美的高质量图像和透明的背景</h3>

                <div class="checkbox"><input type="checkbox" name="isForcedTransparency" id="isForcedTransparency" value="1"/>
                    <label for="isForcedTransparency">Transparent background</label></div>

                <div class="expand-panel">
                    <a class="expand-button"><span>还包括</span><i class="icon-chevron-right"></i></a>
                    <div class="expand-content">
                        <div class="checkbox"><input type="checkbox" name="isThumb" value="1"/>
                            <label for="isThumb" style="width: 90px;">缩略图</label>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled thumbDimensions" data-type="width" placeholder="宽度"/><span>X</span>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled thumbDimensions" data-type="height" placeholder="高度"/><span>px</span>
                        </div>

                        <div class="checkbox"><input type="checkbox" name="isWeb" value="1"/>
                            <label for="isWeb" style="width: 90px;">网站</label>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled webDimensions" data-type="width" placeholder="宽度"/><span>X</span>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled webDimensions" data-type="height" placeholder="高度"/><span>px</span>
                        </div>

                        <div class="checkbox"><input type="checkbox" name="isMobile" value="1"/>
                            <label for="isMobile" style="width: 90px;">手机</label>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled mobileDimensions" data-type="width" placeholder="宽度"/><span>X</span>
                            <input type="number" style="margin: 0 3px; position:relative;" class="form-control small disabled mobileDimensions" data-type="height" placeholder="高度"/><span>px</span>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" name="isZip" value="1"/>
                            <label for="isZip">下载为ZIP文件</label>
                        </div>
                    </div>
                </div>
                <div class="expand-panel">
                    <a class="expand-button"><span>发布设置</span><i class="icon-chevron-right"></i></a>
                    <div class="expand-content">
                        <div class="checkbox">
                            <input type="checkbox" name="isBleed" value="1"/>
                            <label for="isBleed">出线发布</label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" name="isZip" value="1"/>
                            <label for="isZip">下载为ZIP文件</label>
                        </div>
                    </div>
                </div>

                <div class="buttons column">
                    <a href="#" role="custom" class="btn btn-yellow action" data-action="downloadnew" data-type="png">开始下载</a>
                </div>
                <div class="estimated-size" style="text-align: right;">
                    <span>预计的文件大小是</span> <b><span class="value"></span></b>
                </div>
            </div>

            <div id="tabs-3" data-type="pdf">
                <h3>理想的文件打印</h3>

                <div class="checkbox"><input type="radio" name="isRange" id="isRangeAll" checked/>
                    <label for="isRangeAll">所有设计作品</label></div>

                <div class="checkbox"><input type="radio" name="isRange" id="isRangeCurrent"/>
                    <label for="isRangeCurrent">目前的设计</label></div>

                <div class="checkbox"><input type="radio" name="isRange" id="isRangeSelected"/>
                    <label for="isRangeSelected">下载范围：</label>
                    <div class="ui-dropdown disabled" style="padding: 0 5px;display: table-cell;"><div class="input-icon small"><div id="page_from">从</div><i class="icon-unfold_more"></i></div>
                        <ul id="page_from_options" class="ui-dropdown-items"></ul><input name="page_from" type="hidden"/></div>
                    <div class="ui-dropdown disabled" style="display: table-cell;"><div class="input-icon small"><div id="page_to">到</div><i class="icon-unfold_more"></i></div>
                        <ul id="page_to_options" class="ui-dropdown-items"></ul><input name="page_to" type="hidden"/></div>
                </div>

                <div class="expand-panel">
                    <a class="expand-button"><span>发布设置</span><i class="icon-chevron-right"></i></a>
                    <div class="expand-content">
                        <div class="checkbox">
                            <input type="checkbox" name="isBleed" value="1"/>
                            <label for="isBleed">出线发布</label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" name="isZip" value="1"/>
                            <label for="isZip">下载为ZIP文件</label>
                        </div>
                    </div>
                </div>

                <div class="buttons column">
                    <a href="#" role="custom" class="btn btn-yellow action" data-action="downloadnew" data-type="pdf">开始下载</a>
                </div>
            </div>

        </div>
    </div>
    <div class="ui-dropdown-content" data-id="share"></div>
</aside>
<aside id="content" class="web">
    <panel id="tool-panel">
        <div class="tool-menu">
            <ul>
                <li class="hide">
                    <a class="btn btn-menu btn-tag"
                       title="教学指示"
                       data-charlimit="10"
                       tag="教学指示"
                       role="tab" data-toggle="tab" href="#tabTutorial">
                        <div class="iconWrapper"><i class="ik k-search"></i></div>
                    </a>
                </li>

                <li>
                    <a class="btn btn-menu btn-tag"
                       title="搜索"
                       data-charlimit="10"
                       tag="搜索"
                       role="tab" data-toggle="tab" href="#tabSearch">
                        <div class="iconWrapper"><i class="icon-magnifying-glass"></i></div>
                    </a>
                </li>

                <li>
                    <a class="btn btn-menu btn-tag"
                       title="文库"
                       data-charlimit="10"
                       tag="文库"
                       role="tab" data-toggle="tab" href="#tabLibrary">
                        <div class="iconWrapper"><i class="icon-books"></i></div>
                    </a>
                </li>

                <li>
                    <a class="btn btn-menu btn-tag"
                       title="模板"
                       data-charlimit="10"
                       tag="模板"
                       role="tab" data-toggle="tab" href="#tabLayouts">
                        <div class="iconWrapper"><i class="icon-news"></i></div>
                    </a>
                </li>

                <li>
                    <a class="btn btn-menu btn-tag"
                       title="图像"
                       data-charlimit="10"
                       tag="图像"
                       role="tab" data-toggle="tab" href="#tabImages">
                        <div class="iconWrapper"><i class="icon-camera"></i></div>
                    </a>
                </li>

                <li>
                    <a class="btn btn-menu btn-tag"
                       title="文体"
                       data-charlimit="10"
                       tag="文体"
                       role="tab" data-toggle="tab" href="#tabText">
                        <div class="iconWrapper"><i class="icon-text-height"></i></div>
                    </a>
                </li>

                <li>
                    <a class="btn btn-menu btn-tag"
                       title="随时按喜好修改"
                       data-charlimit="10"
                       tag="随时按喜好修改"
                       role="tab" data-toggle="tab" href="#tabExtra">
                        <div class="iconWrapper"><i class="icon-round-brush"></i></div>
                    </a>
                </li>

                <li>
                    <a class="btn btn-menu btn-tag"
                       title="导入"
                       data-charlimit="10"
                       tag="导入"
                       role="tab" data-toggle="tab" href="#tabImport">
                        <div class="iconWrapper"><i class="icon-note_add"></i></div>
                    </a>
                </li>

                <li>
                    <a class="btn btn-menu btn-tag"
                       title="设置"
                       data-charlimit="10"
                       tag="设置"
                       role="tab" data-toggle="tab" href="#tabSettings">
                        <div class="iconWrapper"><i class="icon-sound-mix"></i></div>
                    </a>
                </li>


            </ul>

            <div class="help-menu">
                <a class="btn btn-menu btn-tag"
                   title="帮助"
                   data-charlimit="10"
                   tag="帮助" id="help" href="#">
                    <div class="iconWrapper"><i class="icon-help"></i></div>
                </a>
            </div>

        </div>

        <div class="tool-content">

            <div role="tabpanel" class="tab legacy" id="tabTutorial">
                <div class="antiscroll-wrap">
                    <div class="antiscroll-inner">
                        <div class="tab-content">
                            <section>
                                <h3>欢迎使用</h3>
                                <h1>Desygner 编辑</h1>
                                <p>这是您的设计现场。您可进行众多种形式的编辑。</p>
                                <p>
                                    <a href="#tabExtra" data-toggle="tab" data-popover="popover" data-container="body" data-placement="right" data-content="更改<b>背景</b>，加<b>贴纸</b>，和在设计<b>绘画</b>。<br />写注释，评论或详细的故事">
                                        随时个人化                        </a>
                                    并添加新的                        <a class="pageOrderShow" data-popover="popover" data-container="body" data-placement="right" data-content="观看，重整，添加，删除和复制设计 从 <B>设计订单</b>.<br />您也可以使用每个设计 上的快捷方式图标添加，复制和删除设计。">
                                    设计                        </a> 任何时间</p>
                                <p>
                                    设计选择不同                        <a href="#tabLayouts" data-toggle="tab" data-popover="popover" data-container="body" data-placement="right" data-content="有很多<b>模板</b> 待您挑选。 把每张设计 做得超美超酷!<br />把照片拉放相放置相关格子里.<br />若要把照片在格子中重新定位， 双击照片然后把 裁剪框挪至想显示的部分。">模板</a>
                                    添加 <br />                        <a href="#tabImages" data-toggle="tab" data-popover="popover" data-container="body" data-placement="right" data-content="从 <b>Facebook</b>, <b>Instagram</b>, <b>Flickr</b>, <b>Google+</b>, <b>Picasa</b> 导入照片或 <b>自己上载</b>.<br />您可在<b>&quot;这项目&quot;</b>下找到上载至此项目 的图片或在<b>&quot;其他 项目&quot;</b>下找到您在其他项目 上载过的照片。">图片</a>
                                    和                        <a class="addText" data-popover="popover" data-font-family="Allerta" data-font-size="32" data-container="body" data-placement="right" data-content="在不同设计中加 入<b>文字</b> .<br />选择不同文体.<br />更变颜色大小. 加黑或变斜体。">文字</a>.
                                </p>
                                <p>
                                    更换                        <a href="#tabExtra" data-toggle="tab" data-popover="popover" data-container="body" data-placement="right" data-content="从数百个免费的选项中选择一个<b>背景</b>。<br />您可以使用该背景到你现在正在编辑的设计，或使用到你的项目的全部设计。">背景</a>，加                        <a href="#tabExtra" data-toggle="tab" data-popover="popover" data-container="body" data-placement="right" data-content="选择从众多的<b>贴纸</b> 和<b>横幅</b>来个人化您的设计项目.<br />将它们拖放到设计.上<br />点击贴纸来改变颜色等。">贴纸</a>
                                    与                        <a href="#tabExtra" data-toggle="tab" data-popover="popover" data-container="body" data-placement="right" data-content="添加圆圈，方格和线。免费-<b>涂鸦</b>.<br />用形状为图片添加边框或横幅">画</a>
                                    设计图.</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab legacy" id="tabSearch">
                <div class="tool-search">
                    <form action="/" autocomplete="on">
                        <input name="search"
                               type="text"
                               data-mode=""
                               data-filter=""
                               placeholder="寻找内容"
                               autocomplete="off"
                               tabindex="1" />
                        <button type="submit" name="go"><i class="icon-magnifying-glass"></i><span>搜索</span></button>
                    </form>
                </div>
                <div class="tool-static-block tabs mini">
                    <ul>
                        <li><a href="#tabs-1" data-id="image">Images</a></li>
                        <li><a href="#tabs-2" data-id="background">Backgrounds</a></li>
                        <li><a href="#tabs-3" data-id="sticker">Stickers</a></li>
                        <li><a href="#tabs-4" data-id="layout">Templates</a></li>
                    </ul>

                    <div id="tabs-1" data-type="images">
                        <div class="checkbox"><input type="radio" name="searchImages" id="searchImagesGoogle" value="google"/>
                            <label for="searchImagesGoogle">Google Images <a data-popover="popover" data-container="body" data-placement="right" data-content="Labeled for reuse">(?)</a></label>
                        </div>
                        <div class="checkbox"><input type="radio" name="searchImages" id="searchImagesFree" value="free"/>
                            <label for="searchImagesFree">100% Royalty Free <a data-popover="popover" data-container="body" data-placement="right" data-content="From our partners Pixabay & Unsplash">(?)</a></label>
                        </div>
                        <div class="checkbox"><input type="radio" name="searchImages" id="searchImagesAll" value="" checked/>
                            <label for="searchImagesAll">All Images Available</label>
                        </div>
                    </div>

                    <div id="tabs-2" data-type="background">
                    </div>

                    <div id="tabs-3" data-type="stickers">
                    </div>

                    <div id="tabs-4" data-type="templates">
                        <div class="checkbox"><input type="radio" name="searchTemplates" id="searchTmplThis" value="this"/>
                            <label for="searchTmplThis">This format</label>
                        </div>
                        <div class="checkbox"><input type="radio" name="searchTemplates" id="searchTmplProp" value="prop"/>
                            <label for="searchTmplProp">Proportional to this format</label>
                        </div>
                        <div class="checkbox"><input type="radio" name="searchTemplates" id="searchTmplAny" value="" checked/>
                            <label for="searchTmplAny">Any format</label>
                        </div>
                    </div>
                </div>

                <div class="antiscroll-wrap">
                    <div class="antiscroll-inner">
                        <ul class="btnWrapper" style="display: none;"></ul>
                        <div class="tab-content"></div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab" id="tabLibrary"></div>
            <div role="tabpanel" class="tab" id="tabLayouts"></div>
            <div role="tabpanel" class="tab" id="tabText"></div>
            <div role="tabpanel" class="tab" id="tabImages"></div>
            <div role="tabpanel" class="tab" id="tabImport"></div>
            <div role="tabpanel" class="tab" id="tabExtra"></div>

            <div role="tabpanel" class="tab legacy" id="tabSettings">
                <div class="antiscroll-wrap">
                    <div class="antiscroll-inner">
                        <div class="tab-content accordion">
                            <dt><a class="btn btn-accordion accordion-section-title" title="项目 名称" data-charlimit="18" tag="项目 名称">
                                <img src="/assets/img/favicon-editor.png"/>
                            </a></dt>

                            <dd>
                                <section><input id="ik-project-name" name="name" type="text" placeholder="项目 名称" autocomplete="off" /></section>
                                <section class="ui-dropdown"><div class="input-icon" id="ik-project-category">
                                    <div id="ik-project-category-txt">类别·</div>
                                    <i class="icon-unfold_more"></i>
                                </div>
                                    <ul id="ik-project-category-items" class="ui-dropdown-items" style="height: 400px;"></ul>
                                    <input id="ik-project-category-value" name="category" type="hidden" />
                                </section>
                                <section><label for="description">描述</label><textarea name="description" id="ik-project-description" placeholder="简介您的 Project （自选）"></textarea></section>
                            </dd>

                            <dt><a class="btn btn-accordion" title="设计组" data-charlimit="18" tag="设计组"><i class="icon-group"></i></a></dt>
                            <dd id="tabProjectTeam">
                                <section class="empty" id="ik-project-team-creators">
                                    <a class="btn btn-black" data-type="admins">合作设计师</a>
                                    <div class="listContainer">
                                        <div class="spinnerWrapper"><div class="spinner small"><circle class="path"></circle></div></div>
                                        <div class="emptyText">他们可编辑或加照片。</div>
                                        <ul class="admins-list"><li><a class="btn btn-yellow small" data-type="admins"><i class="icon-plus"></i></a></li></ul>
                                    </div>
                                </section>


                                <section class="empty" id="ik-project-team-tag">
                                    <a class="btn btn-black" data-type="tagged">圈人</a>
                                    <div class="listContainer">
                                        <div class="spinnerWrapper"><div class="spinner small"><circle class="path"></circle></div></div>
                                        <div class="emptyText">他们会收到新通知</div>
                                        <ul class="tagged-list"><li><a class="btn btn-yellow small" data-type="tagged"><i class="icon-plus"></i></a></li></ul>
                                    </div>
                                </section>
                            </dd>

                            <dt><a class="btn btn-accordion" title="隐私设置" data-charlimit="18" tag="隐私设置"><i class="icon-locked"></i></a></dt>
                            <dd>
                                <ul class="btnWrapper" id="ik-project-privacy">
                                    <li><a class="btn btn-squire btn-tag make-public" data-id="90" tag="公共"><div class="iconWrapper"><i class="icon-earth"></i></div></a></li>
                                    <li><a class="btn btn-squire btn-tag" data-id="60" tag="关注者"><div class="iconWrapper"><i class="icon-group"></i></div></a></li>
                                    <li><a class="btn btn-squire btn-tag" data-id="10" tag="私人"><div class="iconWrapper"><i class="icon-locked"></i></div></a></li>
                                    <li><a class="btn btn-squire btn-tag" data-id="30" tag="设计组"><div class="iconWrapper"><i class="icon-bullseye"></i></div></a></li>
                                </ul>
                                <input id="ik-project-privacy-value" name="security" type="hidden" />
                            </dd>

                            <div style="border-bottom: 1px solid #566263;"><a class="btn btn-accordion autosave" title="Autosave" data-charlimit="18" tag="Autosave"><i class="fa fa-check-square check"></i><i class="fa fa-square uncheck hidden"></i></a></div>

                            <div><a class="btn btn-accordion lock" title="Lock Page" data-charlimit="18" tag="Lock Page"><i class="fa fa-check-square check"></i><i class="fa fa-square uncheck hidden"></i></a></div>

                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab" id="tabRestrictions"></div>
        </div>
    </panel>

    <panel id="canvas-panel">
        <div id="ik-editor" class="antiscroll-wrap">
            <div id="workarea" class="antiscroll-inner">
                <div id="ruler-horizontal"></div>
                <div id="ruler-vertical"></div>

                <div id="editor">
                    <div id="svgcanvas" style="position:relative"></div>
                    <div id="canvaspanel" style="position:absolute; pointer-events: none;"></div>
                </div>
            </div>
        </div>


        <a class="btn btn-green" id="ik-grid-snap"><i class="icon-magnet" data-popover="tooltip" data-original-title="显示网格"></i></a>
    </panel>

    <panel id="mode-panel">
        <a class="btn btn-yellow"><span>默认编辑模式</span><i class="icon-remove" data-popover="tooltip" data-original-title="关闭状态"></i></a>
    </panel>

    <panel id="bottom-submenu"></panel>

    <panel id="pages-panel" class="desygner">
        <a class="btn btn-gray modalHeader pageOrderShow"><i class="icon-grid"></i>Project folder<i class="icon-chevron-up action"></i></a>
        <div class="submenu">
            <a id="pageOrderExpand"><span>显示全部设计</span><i class="icon-chevron-up"></i></a>
        </div>

        <div class="pageOrder antiscroll-wrap" data-type="row">
            <div class="antiscroll-inner">
                <div class="thumbnailWrapper thumbmenu" style="position: relative; width: 100%; white-space: nowrap; padding-top: 12px;"></div>
            </div>
        </div>
    </panel>
</aside>
<textarea id="text" type="text" size="35" wrap="off"></textarea>

<panel id="text-edit">
    <form action="/" autocomplete="on">
        <textarea class="value" type="text" tabindex="1"></textarea>
        <div class="footer">
            <button type="submit" class="btn btn-yellow" name="go"><i class="icon-check2"></i>Save changes</button>
            <a class="text-edit-cancel btn btn-yellow"><i class="icon-times"></i>Discard</a>
        </div>
    </form>
</panel>

<div id="inkiveLoader"><div class="inkive-logo"></div><div class="linear"></div></div>

<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-48513378-4', 'auto', { 'userId': '11308899473077831496' });ga('send', 'pageview');</script>
</body>
</html>
